.entity-servises {
  padding: 80px 0 20px 0;
}
.entity-servises__body {
  padding: 40px 0 0 0;
}
.entity-servises__title {
  text-align: center;
}
.entity-servises__subtitle {
  text-align: left;
}
.entity-servises__text {
}
.entity-servises__list {
}
.entity-servises__link {
}
