.breadcrumble {
  text-align: center;
  & ul {
    list-style: none;
    display: block;
  }
  & li {
    display: inline;
    float: left;
    text-align: center;
    padding: 5px 10px 5px 10px;
    // position: relative;
    margin: 0 10px 0 0px;
    font-size: 20px;
    background-color: rgba($color: #000000, $alpha: 0.4);
    transform: skew(15deg);
  }
  & a {
    transform: skew(-15deg);
  }
  & span {
    transform: skew(-15deg);
  }

  // & li::before {
  //   content: "";
  //   background-color: rgba($color: #000000, $alpha: 0.4);
  //   transform: skew(15deg);
  //   position: absolute;
  //   width: 100px;
  //   height: 30px;
  //   bottom: 3px;
  //   left: 4px;
  //   z-index: 0;
  // }
  // & li:last-child::before {
  //   width: 220px;
  // }
  // & li:first-child {
  //   content: "";
  //   background-color: rgba($color: #000000, $alpha: 0.3);
  //   border-top-left-radius: 2px;
  //   border-bottom-left-radius: 2px;
  // }
  & a {
    display: block;
    color: var(--accent);
    position: relative;
    z-index: 2;
  }
  & span {
    display: block;
  }
  @media (hover: hover) and (pointer: fine) {
    & a:hover {
      transition: 0.7s;
      color: var(--hover);
      //text-shadow под вопроом, но все же интересно
      text-shadow: 1.5px 1px 1px #000000;
    }
  }
}
.breadcrumble__entity > li::before {
  content: "";
  width: 200px;
  position: absolute;
}
