.header {
  // background-color: rgba(0, 0, 0, 1);
  background: rgb(15, 15, 15);
  background: linear-gradient(90deg, rgba(15, 15, 15, 1) 0%, rgba(0, 0, 0, 1) 87%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  & a {
    color: var(--accent);
  }
  &__row {
    height: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.header__container {
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: var(--header-height);
}

.header__logo {
  position: relative;
  z-index: 5;
  width: 40px;
  height: 40px;
  .menu__img {
    display: block;
    width: 70px;
  }
}

.menu__icon {
  display: none;
}
.menu__list > li {
  position: relative;
  margin: 0 0 0 40px;
  &.menu__perent {
    margin-right: 20px;
  }
}
.menu__link {
  color: #fff;
  font-size: 18px;
}

//возможность отображать мену 2 уровня в десктопе с помощью hover
// .menu__sub-list > li:hover .menu__sub-sub-list {
//   opacity: 1;
//   display: block;
//   visibility: visible;
//   transform: translate(0px, 0px);
//   pointer-events: all;
// }

//при работе бургера
body.lock {
  overflow: hidden;
}

.menu__sub-list {
  transform-origin: 0 0;
  transform: rotateX(90deg);
  transition: all 0.5s linear;
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 56px;
  padding: 0px 0px 0px 0px;
  min-width: 250px;
}
//если мы используем дляя ввода мышь, то будет срабатывать
//все возможные наведени на эелемекнты с hover
@media (hover: hover) and (pointer: fine) {
  .menu__list > li:hover .menu__sub-list {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: rotateX(-1deg);
    transform: translate(0px, 0px);
  }
  .menu__link:hover,
  .menu__sub-link:hover {
    color: var(--hover);
    transition: 0.5s;
  }
  .header__logo:hover {
    transition: 0.7s;
    transform: scale(1.2);
  }
  .menu__sub-list li:first-child:after {
    content: "";
    position: absolute;
    inset: -14px 0 57px 0;
  }
}
//если мы не используем мышь как способ ввода, тогда для toush
//будет работыть способ с включением с помощью кнопки arrow
@media (hover: none) {
  // .menu__perent::after {
  //   //увеличиваем размер области для более легкого нажатия
  //   //для точ формата
  //   content: "";
  //   position: absolute;
  //   inset: 0px;
  //   z-index: 1;
  // }
}
.menu__list > li.active .menu__sub-list {
  opacity: 1;
  visibility: visible;
  transform: rotateX(-1deg);
  transform: translate(0px, 0px);
  pointer-events: all;
}
.menu__list > li.active .arrow {
  border-top: 10px solid var(--hover);
  transform: rotate(0.5turn);
}

// body.touch .menu__sub-list > li.active .menu__sub-arrow {
//   border-top: 10px solid var(--hover);
//   transform: rotate(0.5turn);
// }

.menu__sub-list li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
}
.menu__list > li {
  display: flex;
  align-items: center;
}
.menu__link {
  flex: 1 1 auto;
}
// .menu__list > li.active

//стрелочка - треугольник- кнопка, для активации
//выпадающего меню 1 уровня

// body.touch
.arrow {
  position: absolute;
  top: 18px;
  right: -25px;
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid var(--accent);
  //при открытии будет анимация
  transition: transform 0.3s ease 0s;
  //отступ стрелочки от самого пункта меню
  margin-left: 5px;
  & {
    @media (min-width: $mobile-size) {
      display: block;
      top: 15px;
    }
    @media (max-width: $mobile-size) {
      top: 10px;
    }
  }
  &::after {
    //увеличиваем размер области для более легкого нажатия
    //для точ формата
    content: "";
    position: absolute;
    inset: -30px -20px -35px -16px;
    z-index: 1;
  }
}

.menu__perent {
  margin-right: 20px;
}

//медиа
//запросы

@media (min-width: $tablet-size) {
  //поворот стрелочки только при наведении в версии для десктопа
  //исклучая поворот стрелочки при наведении в мобильной версии
  //при использовании мыши
  @media (hover: hover) and (pointer: fine) {
    .menu__list > li:hover .arrow {
      border-top: 10px solid var(--hover);
      transform: rotate(0.5turn);
    }
  }
  .menu__list {
    display: flex;
    align-items: center;
  }
  .menu__list > li {
    padding: 10px 0;
  }

  .menu__sub-link {
    color: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 10px 5px 10px;
    li {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  // .menu__sub-sub-link {
  //   display: inline-block;
  // }
  // .menu__sub-sub-list > li {
  //   background-color: rgba(0, 0, 0, 0.8);
  //   padding: 5px 10px;
  // }
  // .menu__sub-sub-list {
  //   display: none;
  //   min-width: 250px;
  //   padding: 0 0px 0 0;
  //   top: 30px;
  //   right: 100%;
  //   position: absolute;
  //   display: none;
  //   pointer-events: none;
  //   transition: margin-top 2s ease-in-out;
  //   transform: translate(0px, 10%);
  // }
}
// @import "../subblocks/header-mobile-size";
