.header {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contaner {
}
.header__content {
  padding: 120px 0 120px 0;
  height: 600px;
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  // gap: 200px;
  align-items: center;
  align-content: center;
}
.header__content-body {
  display: flex;
  flex-direction: column;
}
.header__title {
  color: var(--accent);
  margin-bottom: 40px;
}
.title {
  max-width: 60%;
  line-height: 110%;
  font-weight: 400;
  font-family: var(--font-accent);
  font-size: 56px;
}
.header__text {
  max-width: 60%;
  font-family: var(--font-accent);
  color: var(--accent);
  font-size: 23px;
  line-height: 130%;
  letter-spacing: 0.5px;
  margin-bottom: 30px;
}
.header__btn {
  background-color: #a52604;
  display: block;
  max-width: 145px;
  color: #b2da63;
  font-size: 2vh;
  text-align: center;
  padding: 1.08vh 0.96vw;
  &:hover {
    color: var(--hover);
    transition: 0.5s;
    transform: scale(1.2);
    translate: 15px;
  }
}
.header__content-picture {
}
.header__img {
  display: block;
  width: 100%;
}

.header__bg-video {
  height: 100vh;
  background: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -1;
  backface-visibility: hidden;
  &::before {
    background: rgba(0, 0, 0, 0.8);
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    z-index: 10;
  }
}
.header__video {
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
}
